.grayContainer {
    display: flex;
    border-top: 1px solid rgb(199, 199, 199);
    border-bottom: 1px solid rgb(199, 199, 199);
    background-color: #ececec;
    padding-bottom: 2%;
    flex-direction: column;
}

.titleServices {
    color: #EE3B24;
    margin-top: 20px;
    font-weight: 700;
}

.coluna {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
    min-width: 280px;
    padding-right: 1%;
    padding-left: 1%;
}

.rowContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projetosMecanicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

#projetosMecanicos:hover {
    color: black !important;
}

.titleProjetos {
    font-weight: bold;
}

.icon {
    height: 50px;
    margin: 20px;
}

.botaoEstilizado {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px 15px;
    border: 1px solid transparent;
    background-color: #ee3b24;
    color: white !important;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    -webkit-transition: background-color 0.15s linear 0s;
    -o-transition: background-color 0.15s linear 0s;
    transition: background-color 0.15s linear 0s;
}

.botaoEstilizado:hover {
    color: white !important;
    cursor: pointer;
    background-color: #9b2718 ;
}

.linksServicos {
    color: #000;
}