.contatosContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#secaoContato {
    margin-bottom: 1%;
}

.marginHorizontal {
    margin-left: 5%;
    margin-right: 5%;
}