.labelFormulario {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #00172f;
    font-weight: 700;
}

.enviar {
    display: flex;
    justify-content: center;
    padding: 7px 15px;
    border: 1px solid transparent;
    background-color: #ee3b24;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
    align-self: center;
}

.contatoInput {
    padding: 7px;
    border: 0.7px solid rgba(238, 59, 36, 0.432);
    width: 100%;
    border-radius: 3px;
}

.contatoInputMensagem {
    padding: 7px;
    border: 0.7px solid rgba(238, 59, 36, 0.432);
    width: 100%;
    border-radius: 3px;
    height: 200px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    max-width: 500px;
    margin-left: 1%;
    min-width: 350px;
}

@media (max-width: 500px) {
    .map {
        min-width: 300px;
        height: 300px;
    }
    .formContainer {
        min-width: 275px;
    }
  }