.histImg {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.mejImg {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.iprjImg {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;

}

.tabContainer {
    display: flex;
    margin: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-size-adjust: 30px;
    text-align: justify;
    
}
.tab1 {
    color: #495057;
    font-weight: bold;
    font-size: 25px;
    
}

.container {
   margin-bottom: 2%;

}

.tituloSecoes {
    position: relative;
    text-align: center;
    color: #EE3B24;
    margin-top: 20px;
    font-weight: 700;
    
}

.linha {
    display: block;
    margin: auto;
    content: "";
    width: 80px;
    height: 5px;
    background: #EE3B24;
    margin-bottom: 50px;
}

.link_externo {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
    text-decoration: underline;
}

.nav-tabs {
    border-bottom: 1px solid #EE3B24  ;
}

.nav-link.active {
    color: #EE3B24 !important;
    border-color: #EE3B24 #EE3B24 #EE3B24 !important;
    border-bottom: #fff !important;
}

a:hover {
    color: #EE3B24 !important;
}

@media (max-width: 349px) {
    .tab1{
        font-size: 15px;
    }
}

@media (max-width: 294px) {
    .tab1{
        font-size: 12px;
    }
}