.botaoEstilizado{
    background-color: #ee3b24;
}

.modal-dialog {
    position: relative;
    width: 60% !important;
    margin: .5rem;
    pointer-events: none;
}

.modal-header {
    
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color:#ee3b24 ;
    
}
.TituloModal{
    color: #012e5e;
    font-weight: bold;
    font-size: 33px;
}

.Contato{
    color: #012e5e;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

@media (min-width: 576px){
    .modal-dialog {
    max-width: none !important;
    margin: 1.75rem auto;
    }
}