.LogoSerra{
    height: 45px;
    margin-left: 20%;
}

.header{
    width: 100%;
    padding: 16px;
    box-shadow: 0px 3px 6px rgba(128,128,128, 0.277);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
}

.secaoHeader{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    height: 37px;
}

.LinksList{
    display: flex !important;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.navItem{
    margin-right: 35px;
}

.LinkHeader{
    color: #212529;
    font-weight: 700;
}

.LinkHeader:hover{
    color:  #EE3B24 !important;
    cursor: pointer;
}

.navContainer{
    margin-right: 5%;
    display: flex;
}

.headerIcon {
    height: 0px;
    width: 0px;
}

.IconBar {
    opacity: 0;
}

.navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}


@media (max-width: 995px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .IconBar {
        opacity: 1;
    }


}
