.titleBanner {
  position: relative;
  text-align: center;
  color: #EE3B24;
  font-weight: 700;
  font-size: 55px;
  align-self: center;
  text-align: center;

}
.carousel-caption {
  display: flex!important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.carousel-item {
  margin: 0px;
  padding: 0px;
}

.active carousel-item {
  margin: 0px;
  padding: 0px;
}

.subtitleBanner {
  font-size: 20px;
}

@media (max-width: 602px) {
  .titleBanner{
    font-size: 40px;
  }
  .subtitleBanner {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .titleBanner{
    font-size: 35px;
  }
  .subtitleBanner {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .titleBanner{
    font-size: 25px;
  }
  .subtitleBanner {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .titleBanner{
    font-size: 15px;
  }
  .subtitleBanner {
    font-size: 10px;
  }
}
